<div class="row">
    <div class="large-6 medium-6 small-6 columns">
        <span style="font-size:0.8em;float:left;">
            <%= page_entries_info @disruptions %>
        </span>
    </div>
    <div class="large-6 medium-6 small-6 columns">
        <span style="font-size:0.8em;float:right;">
            <i>Last updated: <span id="lastUpdateTime" style="font-weight:bold;"><%= @lastUpdateTime %> </span></i>
        </span>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <table class="" width="100%">
            <thead>
            <tr>
                <th width="20">Route</th>
                <th>Direction</th>
                <th>
                    <span data-tooltip aria-haspopup="true" class="has-tip" title="Stops between which disruption is observed.">From</span>
                </th>
                <th>
                    <span data-tooltip aria-haspopup="true" class="has-tip" title="Stops between which disruption is observed.">To</span>
                </th>
                <th>
                    <span data-tooltip aria-haspopup="true" class="has-tip" title="WMA (Weighted moving average) delay observed accross the given section.">Delay</span>
                </th>
                <th>
                    <span data-tooltip aria-haspopup="true" class="has-tip" title="Total delay observed across the route in minutes.">Total delay</span>
                </th>
                <th>
                    <span data-tooltip aria-haspopup="true" class="has-tip" title="If disruption is increasing (<span style=color:#FF5468;>&#8593;</span>) and if it normalising (<span style=color:#4DFA90;>&#8595;</span>) else (<span style=color:#FABE4D;>&#8597;</span>).">Trend</span>
                </th>
                <th>
                    <span data-tooltip aria-haspopup="true" class="has-tip" title="Time when the system has first detected the disruption.">First detected</span>
                </th>
                <th>Extra</th>
            </tr>
            </thead>
            <tbody>
            <% @disruptions.each do |disruption| %>
                <tr>
                    <td>
                        <a href="http://www.tfl.gov.uk/bus/route/<%= disruption.route %>/?direction=<%= disruption.getRunString %>" target="_blank"><%= disruption.route %></a>
                    </td>
                    <td> <%= disruption.getRunString %></td>
                    <td>
                        <a href="http://countdown.tfl.gov.uk/#|searchTerm=<%= disruption.fromStop.code %>" target="_blank"><%= disruption.fromStop.name.split.map(&:capitalize).join(' ')%></a>
                    </td>
                    <td>
                        <a href="http://countdown.tfl.gov.uk/#|searchTerm=<%= disruption.toStop.code %>" target="_blank"><%=disruption.toStop.name.split.map(&:capitalize).join(' ') %></a>
                    </td>
                    <td class="delayCell <%= disruption.delayColor %>"><%= disruption.getDelay %></td>
                    <td class="delayCell <%= disruption.totalDelayColor %>"><%= disruption.getTotalDelay %></td>
                    <td class="trendCell <%= disruption.trendColor %>"><%= raw(disruption.trendSymbol) %>
                    </td>
                    <td> <%= disruption.getDetectedAt %></td>
                    <td>
                        <a href="<%= main_details_url(id: disruption.id) %>" data-reveal-id="disruptionDetails" data-reveal-ajax="true">
                            More
                        </a>
                        <!--<=link_to 'More', :action => :details, :id => disruption.id, remote: true, reveal-id: "disruptionDetails", reveal-ajax: "true"%>
                       <!-- <a href="#" data-reveal-id="disruptionDetails" class="tiny">More</a>-->
                    <a href="id=<%=disruption.id%>" data-reveal-id="loginModal" class="tiny disabled">Hide</a></td>
                </tr>
            <% end %>
            </tbody>
        </table>
        <% if @disruptions.total_entries > 20 %>
            <div class="apple_pagination">
                <%= will_paginate @disruptions, :container => false %>
            </div>
        <% end %>
    </div>
</div>