<% content_for :header do %>
    <%= javascript_include_tag "disruptionList" %>
<% end %>

<div class="row">
    <div class="large-12 columns">
        <h1>Disruptions list</h1>
    </div>
</div>

<div id="disruptionList">
    <%= render 'disruptionList' %>
</div>

<%= render 'engineSpeedControl' %>

<div id="disruptionDetails" class="reveal-modal xlarge" data-reveal>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        poll("<%= @lastUpdateTime %>", <%= @timeout %>);
    });
</script>